form#donation.clearfix accept-charset="UTF-8" action="/donations/create" method="post" 
  div
    h3.step-title
    .field.field-name-field-payment-title.field-type-text.field-label-hidden
      .field-items
        .field-item.even Please provide your details.
        .field-item.even Personal Information
        .personal-info  
          .form-item.form-type-textfield
            input#first_name.form-text.required maxlength="128" name="first_name" placeholder=("First Name") size="60" type="text" value="" /
            label.option for="first_name" 
              | First Name
              span.form-required title=("This field is required.")  *        
          
          .form-item.form-type-textfield
            input#mid_name.form-text.required maxlength="128" name="mid_name" placeholder=("Middle Name") size="60" type="text" value="" /
            label.option for="mid_name" 
              | Middle Name
          
          .form-item.form-type-textfield
            input#last_name.form-text.required maxlength="128" name="last_name" placeholder=("Last Name") size="60" type="text" value="" /
            label.option for="last_name" 
              | Last Name
              span.form-required title=("This field is required.")  *    
        .field-item.even Billing Information              
        .billing-info
          .fieldset-wrapper
            .form-item.form-type-textfield
              input#billing_first_name.form-text.required maxlength="128" name="billing_first_name" placeholder=("First Name in the card") size="60" type="text" value="" /
              label.option for="billing_first_name" 
                | First Name
                span.form-required title=("This field is required.")  *        
            
            .form-item.form-type-textfield
              input#billing_mid_name.form-text.required maxlength="128" name="billing_mid_name" placeholder=("Middle Name in the card") size="60" type="text" value="" /
              label.option for="billing_mid_name" 
                | Middle Name
            
            .form-item.form-type-textfield
              input#billing_last_name.form-text.required maxlength="128" name="billing_last_name" placeholder=("Last Name in the card") size="60" type="text" value="" /
              label.option for="billing_last_name" 
                | Last Name
                span.form-required title=("This field is required.")  *           
            
            .form-item.form-type-textfield
              input#billing_address.form-text.required maxlength="128" name="billing_address" placeholder=("Address") size="60" type="text" value="" /
              label.option for="billing_address" 
                | Address 1
                span.form-required title=("This field is required.")  *  


            .form-item.form-type-textfield
              input#billing_address_2.form-text.required maxlength="128" name="billing_address_2" placeholder=("Address") size="60" type="text" value="" /
              label.option for="billing_address_2" 
                | Address 2
                span.form-required title=("This field is required.")  *           
                  
            
            .form-item.form-type-textfield
              input#billing_city.form-text.required maxlength="128" name="billing_city" placeholder=("City") size="60" type="text" value="" /
              label.option for="billing_city" 
                | City
                span.form-required title=("This field is required.")  *  
                  
            .form-item.form-type-textfield
              select#billing_state.form-select.required autocomplete="region" name="billing_state" x-autocompletetype="region"
                  option value=""  --
                  option value="AL"  Alabama
                  option value="AK"  Alaska
                  option value="AZ"  Arizona
                  option value="AR"  Arkansas
                  option value="CA"  California
                  option value="CO"  Colorado
                  option value="CT"  Connecticut
                  option value="DE"  Delaware
                  option value="DC"  District Of Columbia
                  option value="FL"  Florida
                  option value="GA"  Georgia
                  option value="HI"  Hawaii
                  option value="ID"  Idaho
                  option value="IL"  Illinois
                  option value="IN"  Indiana
                  option value="IA"  Iowa
                  option value="KS"  Kansas
                  option value="KY"  Kentucky
                  option value="LA"  Louisiana
                  option value="ME"  Maine
                  option value="MD"  Maryland
                  option value="MA"  Massachusetts
                  option value="MI"  Michigan
                  option value="MN"  Minnesota
                  option value="MS"  Mississippi
                  option value="MO"  Missouri
                  option value="MT"  Montana
                  option value="NE"  Nebraska
                  option value="NV"  Nevada
                  option value="NH"  New Hampshire
                  option value="NJ"  New Jersey
                  option value="NM"  New Mexico
                  option selected="selected" value="NY"  New York
                  option value="NC"  North Carolina
                  option value="ND"  North Dakota
                  option value="OH"  Ohio
                  option value="OK"  Oklahoma
                  option value="OR"  Oregon
                  option value="PA"  Pennsylvania
                  option value="RI"  Rhode Island
                  option value="SC"  South Carolina
                  option value="SD"  South Dakota
                  option value="TN"  Tennessee
                  option value="TX"  Texas
                  option value="UT"  Utah
                  option value="VT"  Vermont
                  option value="VA"  Virginia
                  option value="WA"  Washington
                  option value="WV"  West Virginia
                  option value="WI"  Wisconsin
                  option value="WY"  Wyoming
              label.state for="billing_state"
                | State
                span.form-required title=("This field is required.")  *
            
            
            
            
            
            .form-item.form-type-textfield
              input#billing_zip.form-text.required maxlength="128" name="billing_zip" placeholder=("Zip Code") size="60" type="text" value="" /
              label.option for="billing_zip" 
                | Zip Code
                span.form-required title=("This field is required.")  *           
                  
            .form-item.form-type-textfield
              select#billing_country.form-select.required autocomplete="region" name="billing_country" x-autocompletetype="region"
                  option value=""  --
                  option value="AF"  Afghanistan
                  option value="AX"  Aland Islands
                  option value="AL"  Albania
                  option value="DZ"  Algeria
                  option value="AS"  American Samoa
                  option value="AD"  Andorra
                  option value="AO"  Angola
                  option value="AI"  Anguilla
                  option value="AQ"  Antarctica
                  option value="AG"  Antigua and Barbuda
                  option value="AR"  Argentina
                  option value="AM"  Armenia
                  option value="AW"  Aruba
                  option value="AU"  Australia
                  option value="AT"  Austria
                  option value="AZ"  Azerbaijan
                  option value="BS"  Bahamas
                  option value="BH"  Bahrain
                  option value="BD"  Bangladesh
                  option value="BB"  Barbados
                  option value="BY"  Belarus
                  option value="BE"  Belgium
                  option value="BZ"  Belize
                  option value="BJ"  Benin
                  option value="BM"  Bermuda
                  option value="BT"  Bhutan
                  option value="BO"  Bolivia
                  option value="BA"  Bosnia and Herzegovina
                  option value="BW"  Botswana
                  option value="BV"  Bouvet Island
                  option value="BR"  Brazil
                  option value="IO"  British Indian Ocean Territory
                  option value="VG"  British Virgin Islands
                  option value="BN"  Brunei
                  option value="BG"  Bulgaria
                  option value="BF"  Burkina Faso
                  option value="BI"  Burundi
                  option value="KH"  Cambodia
                  option value="CM"  Cameroon
                  option value="CA"  Canada
                  option value="CV"  Cape Verde
                  option value="BQ"  Caribbean Netherlands
                  option value="KY"  Cayman Islands
                  option value="CF"  Central African Republic
                  option value="TD"  Chad
                  option value="CL"  Chile
                  option value="CN"  China
                  option value="CX"  Christmas Island
                  option value="CC"  Cocos (Keeling) Islands
                  option value="CO"  Colombia
                  option value="KM"  Comoros
                  option value="CG"  Congo (Brazzaville)
                  option value="CD"  Congo (Kinshasa)
                  option value="CK"  Cook Islands
                  option value="CR"  Costa Rica
                  option value="HR"  Croatia
                  option value="CU"  Cuba
                  option value="CW"  Curaçao
                  option value="CY"  Cyprus
                  option value="CZ"  Czech Republic
                  option value="DK"  Denmark
                  option value="DJ"  Djibouti
                  option value="DM"  Dominica
                  option value="DO"  Dominican Republic
                  option value="EC"  Ecuador
                  option value="EG"  Egypt
                  option value="SV"  El Salvador
                  option value="GQ"  Equatorial Guinea
                  option value="ER"  Eritrea
                  option value="EE"  Estonia
                  option value="ET"  Ethiopia
                  option value="FK"  Falkland Islands
                  option value="FO"  Faroe Islands
                  option value="FJ"  Fiji
                  option value="FI"  Finland
                  option value="FR"  France
                  option value="GF"  French Guiana
                  option value="PF"  French Polynesia
                  option value="TF"  French Southern Territories
                  option value="GA"  Gabon
                  option value="GM"  Gambia
                  option value="GE"  Georgia
                  option value="DE"  Germany
                  option value="GH"  Ghana
                  option value="GI"  Gibraltar
                  option value="GR"  Greece
                  option value="GL"  Greenland
                  option value="GD"  Grenada
                  option value="GP"  Guadeloupe
                  option value="GU"  Guam
                  option value="GT"  Guatemala
                  option value="GG"  Guernsey
                  option value="GN"  Guinea
                  option value="GW"  Guinea-Bissau
                  option value="GY"  Guyana
                  option value="HT"  Haiti
                  option value="HM"  Heard Island and McDonald Islands
                  option value="HN"  Honduras
                  option value="HK"  Hong Kong S.A.R., China
                  option value="HU"  Hungary
                  option value="IS"  Iceland
                  option value="IN"  India
                  option value="ID"  Indonesia
                  option value="IR"  Iran
                  option value="IQ"  Iraq
                  option value="IE"  Ireland
                  option value="IM"  Isle of Man
                  option value="IL"  Israel
                  option value="IT"  Italy
                  option value="CI"  Ivory Coast
                  option value="JM"  Jamaica
                  option value="JP"  Japan
                  option value="JE"  Jersey
                  option value="JO"  Jordan
                  option value="KZ"  Kazakhstan
                  option value="KE"  Kenya
                  option value="KI"  Kiribati
                  option value="KW"  Kuwait
                  option value="KG"  Kyrgyzstan
                  option value="LA"  Laos
                  option value="LV"  Latvia
                  option value="LB"  Lebanon
                  option value="LS"  Lesotho
                  option value="LR"  Liberia
                  option value="LY"  Libya
                  option value="LI"  Liechtenstein
                  option value="LT"  Lithuania
                  option value="LU"  Luxembourg
                  option value="MO"  Macao S.A.R., China
                  option value="MK"  Macedonia
                  option value="MG"  Madagascar
                  option value="MW"  Malawi
                  option value="MY"  Malaysia
                  option value="MV"  Maldives
                  option value="ML"  Mali
                  option value="MT"  Malta
                  option value="MH"  Marshall Islands
                  option value="MQ"  Martinique
                  option value="MR"  Mauritania
                  option value="MU"  Mauritius
                  option value="YT"  Mayotte
                  option value="MX"  Mexico
                  option value="FM"  Micronesia
                  option value="MD"  Moldova
                  option value="MC"  Monaco
                  option value="MN"  Mongolia
                  option value="ME"  Montenegro
                  option value="MS"  Montserrat
                  option value="MA"  Morocco
                  option value="MZ"  Mozambique
                  option value="MM"  Myanmar
                  option value="NA"  Namibia
                  option value="NR"  Nauru
                  option value="NP"  Nepal
                  option value="NL"  Netherlands
                  option value="AN"  Netherlands Antilles
                  option value="NC"  New Caledonia
                  option value="NZ"  New Zealand
                  option value="NI"  Nicaragua
                  option value="NE"  Niger
                  option value="NG"  Nigeria
                  option value="NU"  Niue
                  option value="NF"  Norfolk Island
                  option value="MP"  Northern Mariana Islands
                  option value="KP"  North Korea
                  option value="NO"  Norway
                  option value="OM"  Oman
                  option value="PK"  Pakistan
                  option value="PW"  Palau
                  option value="PS"  Palestinian Territory
                  option value="PA"  Panama
                  option value="PG"  Papua New Guinea
                  option value="PY"  Paraguay
                  option value="PE"  Peru
                  option value="PH"  Philippines
                  option value="PN"  Pitcairn
                  option value="PL"  Poland
                  option value="PT"  Portugal
                  option value="PR"  Puerto Rico
                  option value="QA"  Qatar
                  option value="RE"  Reunion
                  option value="RO"  Romania
                  option value="RU"  Russia
                  option value="RW"  Rwanda
                  option value="BL"  Saint Barthélemy
                  option value="SH"  Saint Helena
                  option value="KN"  Saint Kitts and Nevis
                  option value="LC"  Saint Lucia
                  option value="MF"  Saint Martin (French part)
                  option value="PM"  Saint Pierre and Miquelon
                  option value="VC"  Saint Vincent and the Grenadines
                  option value="WS"  Samoa
                  option value="SM"  San Marino
                  option value="ST"  Sao Tome and Principe
                  option value="SA"  Saudi Arabia
                  option value="SN"  Senegal
                  option value="RS"  Serbia
                  option value="SC"  Seychelles
                  option value="SL"  Sierra Leone
                  option value="SG"  Singapore
                  option value="SX"  Sint Maarten
                  option value="SK"  Slovakia
                  option value="SI"  Slovenia
                  option value="SB"  Solomon Islands
                  option value="SO"  Somalia
                  option value="ZA"  South Africa
                  option value="GS"  South Georgia and the South Sandwich Islands
                  option value="KR"  South Korea
                  option value="SS"  South Sudan
                  option value="ES"  Spain
                  option value="LK"  Sri Lanka
                  option value="SD"  Sudan
                  option value="SR"  Suriname
                  option value="SJ"  Svalbard and Jan Mayen
                  option value="SZ"  Swaziland
                  option value="SE"  Sweden
                  option value="CH"  Switzerland
                  option value="SY"  Syria
                  option value="TW"  Taiwan
                  option value="TJ"  Tajikistan
                  option value="TZ"  Tanzania
                  option value="TH"  Thailand
                  option value="TL"  Timor-Leste
                  option value="TG"  Togo
                  option value="TK"  Tokelau
                  option value="TO"  Tonga
                  option value="TT"  Trinidad and Tobago
                  option value="TN"  Tunisia
                  option value="TR"  Turkey
                  option value="TM"  Turkmenistan
                  option value="TC"  Turks and Caicos Islands
                  option value="TV"  Tuvalu
                  option value="VI"  U.S. Virgin Islands
                  option value="UG"  Uganda
                  option value="UA"  Ukraine
                  option value="AE"  United Arab Emirates
                  option value="GB"  United Kingdom
                  option selected="selected" value="US"  United States
                  option value="UM"  United States Minor Outlying Islands
                  option value="UY"  Uruguay
                  option value="UZ"  Uzbekistan
                  option value="VU"  Vanuatu
                  option value="VA"  Vatican
                  option value="VE"  Venezuela
                  option value="VN"  Vietnam
                  option value="WF"  Wallis and Futuna
                  option value="EH"  Western Sahara
                  option value="YE"  Yemen
                  option value="ZM"  Zambia
                  option value="ZW"  Zimbabwe
              label.state for="billing_country"
                | Country
                span.form-required title=("This field is required.")  *
                    
          .form-item.form-type-textfield
            input#card_number.form-text.required maxlength="128" name="card_number" placeholder=("XXXX-XXXX-XXXX-1") size="60" type="text" value="" /
            label.option for="card_number" 
              | Credit Card Number
              span.form-required title=("This field is required.")  *            
                    
          .form-item.form-type-textfield
            input#cvv.form-text.required maxlength="128" name="cvv" placeholder=("XXX") size="60" type="text" value="" /
            label.option for="cvv" 
              | Card Verification Value(CVV)
              span.form-required title=("This field is required.")  *            
                    
          .form-item.form-type-textfield
            select#expiration.form-text.required name="expiration" 
              option value="10/12/2019"  10/12/2019
            label.option for="expiration" 
              |Expiration
              span.form-required title=("This field is required.")  *        
              /hidden value for the amount 
              input#amount name="donation_amount" type="hidden"  value="#{@amount}" /
              
          
          
      fieldset#edit-buttons.checkout-buttons.form-wrapper
        .fieldset-wrapper
          input#edit-continue.checkout-continue.form-submit name="op" type="submit" value=("Make Donation") /
      
                    
  
