/ h1 Welcome to the Donation Page

form#donation_form.clearfix accept-charset="UTF-8" action="/dashboard/donate" method="post" 
  h3.step-title style="color:#005983;background-color:#BDE724;" 
    .field.field-name-field-donation-title.field-type-text.field-label-hidden
      .field-items
        .field-item.even What can you give?


  #edit-donation-amounts.clearfix.form-wrapper
    #edit-donation-amounts-predefined.form-radios
      .form-item.form-type-radio
        input#donation_amount-0.form-radio name="donation_amounts[predefined]" type="radio" value="100" /
        label.option for="donation_amount-0"  $100
      .form-item.form-type-radio
        input#donation_amount-1.form-radio name="donation_amounts[predefined]" type="radio" value="250" /
        label.option for="donation_amount-1"  $250
      .form-item.form-type-radio
        input#donation_amount-2.form-radio name="donation_amounts[predefined]" type="radio" value="500" /
        label.option for="donation_amount-2"  $500
      .form-item.form-type-radio
        input#donation_amount-3.form-radio name="donation_amounts[predefined]" type="radio" value="1000" /
        label.option for="donation_amount-3"  $1,000
      .form-item.form-type-radio
        input#donation_amount-4.form-radio name="donation_amounts[predefined]" type="radio" value="2500" /
        label.option for="donation_amount-4"  $2,500
      .form-item.form-type-radio style=("display: none;") 
        label.option for="edit-donation-amounts-predefined-other"  Custom Amount
      .form-item.form-type-textfield.
        label.element-invisible for="donation_custom_amount " style=("display: none;")  Other amount
        span.field-prefix
          span.prefix $
        input#edit-donation-amounts-custom-amount.form-text.placeholder maxlength="128" name="donation_amounts[custom_amount]" placeholder=("Other  ")  type="number" value="" /
  .form-item.form-type-select.form-item-recurring-payment-options
    span.field-prefix Choose frequency of donation
    select#recurring_frequency.form-select name="recurring_frequency" 
      option value="1"  One time only
      option value="1"  Monthly
      option value="3"  Quarterly
      option value="12"  Yearly
  #edit-account.form-wrapper
    #edit-nologin.form-wrapper
      .form-item.form-type-textfield.form-item-email
        label.element-invisible for="edit-email"  E-mail
        input#edit-email.form-text maxlength="128" name="email" placeholder="E-mail" size="46" type="text" value="" /
      .form-item.form-type-textfield.form-item-email-confirm
        label.element-invisible for="edit-email-confirm"  E-mail (confirm)
        input#edit-email-confirm.form-text maxlength="128" name="email_confirm" placeholder=("Retype E-mail ") size="38" type="text" value="" /
      input#register.form-submit name="op" type="submit" value="Register" /
