// Place all the styles related to the donation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#donation_form{
  width: 500px;
  margin: 0 auto;
  padding: 15px;
}
#edit-donation-amounts{
font-size: 20px;
  margin: 20px 30px;
}
.form-item{
  display: inline-block;
  padding: 10px;
  margin: 10px;

}

.form-type-radio{
  width:100px
}
.form-type-radio, .form-type-textfield{
  background-color: #CFDD9D;
  border-radius: 4px;
  color: rgb(0, 47, 69);
}

#edit-donation-amounts-custom-amount{
  width: 80px;
}

#register{
  margin-left: 10px;
padding: 5px;
}
#recurring_frequency{
  margin-left: 10px;
}
#edit-email-confirm,#edit-email{
  margin-left:5px;
}
